@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

html {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    font-family: 'Peralta', cursive;
    text-align: center;
    font-size: 10px;
}